#pdfviewer {
	position:relative
}

#pdfviewer .item img
#pdfviewer .item span {
	user-select:none
}

#pdfviewer .item.first img {
	margin-top:52px
}

#pdfviewer .review-tool {
	position:absolute;
	color:#FFF;
	top:0;
	height:32px;
	width:100%;
	background-color:#000;
	z-index:310;
	text-align:left
}

#pdfviewer .review-grid {
	position:absolute;
	height:32px;
	z-index:310;
	text-align:left;
	position: absolute;
	top:0;
}

#pdfviewer .review-grid .grid-elem {
  border-bottom: 1px solid gray;
  font-size: 8px;
}

#pdfviewer .review-grid .grid-elem p {
  margin: 0px 5px 5px 0px;
  padding: 0px 0px 0px 0px;
  text-align: right;
}

#pdfviewer .review-grid .grid-elem.first {
  border-top: 1px solid gray;
}

#pdfviewer .item {
	position:relative
}

#pdfviewer .review-tool .menu {
	float:right;
	margin-top:4px;
	margin-right:15px
}

#pdfviewer .review-tool .menu .bt,.clicked {
	height:20px;
	color:#666;
	font-size:13px;
	padding:4px 10px;
	text-decoration:none;
	background:#f9f9f9
}

#pdfviewer .review-tool .bt {
	background:-moz-linear-gradient(top,#fff,#f3f3f3);
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f3f3f3));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f3f3f3);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f3f3f3)"
}

#pdfviewer .review-tool .bt:hover {
	background:#f3f3f3;
	background:-moz-linear-gradient(top,#fff,#e9e9e9);
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e9e9e9));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#e9e9e9);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#e9e9e9)"
}

#pdfviewer .review-tool .bt:active,.clicked {
	background:#e9e9e9;
	background:-moz-linear-gradient(top,#e9e9e9,#fff);
	background:-webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#fff));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9,endColorstr=#ffffff);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9,endColorstr=#ffffff)"
}

.btleft {
	border:1px solid #e3e3e3;
	-webkit-border-radius:.5em 0 0 .5em;
	-moz-border-radius:.5em 0 0 .5em;
	border-radius:.5em 0 0 .5em
}

.btleft span {
	font-size:9px;
	position:relative;
	top:-2px
}

.btmiddle {
	border:1px solid #e3e3e3;
	margin:0 -4px
}

.btright {
	border:1px solid #e3e3e3;
	-webkit-border-radius:0 .5em .5em 0;
	-moz-border-radius:0 .5em .5em 0;
	border-radius:0 .5em .5em 0
}

.btmiddle span,.btright span {
	font-size:9px;
	position:relative;
	top:-2px
}

#review-form-options {
	margin:5px 0;
	display:none;
	position:absolute;
	text-align:left
}

#pdfviewer .review-tool .options {
	margin:6px 0 0 100px;
	position:absolute;
	display:none
}

#pdfviewer .review-tool .options.pages {
  right: 45px;
}

#pdfviewer .review-tool .options.filter {
	right:80px;
	color: black;
	text-align: left;
	font-family: Arial;
	font-size:11px;
}

#pdfviewer .review-tool .options.filter .menu {
	width: 330px;
	height: 210px;
	padding: 5px;
}

#pdfviewer .review-tool .options.filter .menu .form-type-checkboxes {
  width: 105px;
  height: 170px;
  margin-right: 5px;
  float: left;
	overflow-x:hidden;
	overflow-y:auto
}

#pdfviewer .review-tool .options .triangle {
	border:1px solid #d9d9d9;
	border-width:2px 0 0 2px;
	width:10px;
	height:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	z-index:1;
	position:relative;
	bottom:-8px;
	margin-left:25px;
	background:#fff
}

#pdfviewer .review-tool .options.pages .triangle {
  margin-left: 75px;
}

#pdfviewer .review-tool .options.filter .triangle {
  margin-left: 305px;
}

#review-form-options .menu,
#pdfviewer .review-tool .options .menu {
	background:#fff;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
	width:110px;
	-webkit-box-shadow:0 0 3px rgba(0,0,0,.5);
	-moz-box-shadow:0 0 3px rgba(0,0,0,.5);
	box-shadow:0 0 3px rgba(0,0,0,.5);
	padding:2px;
	z-index:10
}

#review-form-options .menu a,
#pdfviewer .review-tool .options .menu a {
	z-index:2;
	padding:0 0 7px 2px;
	display:block;
	text-decoration:none;
	color:#06c;
	font-size:13px;
	z-index:10
}

#review-form-options .menu a:hover,
#pdfviewer .review-tool .options .menu a:hover,
#pdfviewer .review-tool .options .menu a.selected {
	background:#06c;
	color:#fff
}

#review-form-options .menu a img,
#pdfviewer .review-tool .options .menu a img {
	position:relative;
	top:5px;
	border:0
}

#review-form-options .menu .first,
#pdfviewer .review-tool .options .menu .first {
	-webkit-border-radius:.5em .5em 0 0;
	-moz-border-radius:.5em .5em 0 0;
	border-radius:.5em .5em 0 0
}

#review-form-options .menu .last,
#pdfviewer .review-tool .options .menu .last {
	-webkit-border-radius:0 0 .5em .5em;
	-moz-border-radius:0 0 .5em .5em;
	border-radius:0 0 .5em .5em
}

#pdfviewer .review-tool .options.pages .menu {
	height:120px;
	padding:3px;
	overflow-x:hidden;
	overflow-y:auto
}

#review-form {
	position:absolute;
	top:200px;
	left:30px;
	display:none;
	z-index:305;
	text-align:left
}

#review-form .box {
	background:#fff;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
	width:300px;
	-webkit-box-shadow:0 0 3px rgba(0,0,0,.5);
	-moz-box-shadow:0 0 3px rgba(0,0,0,.5);
	box-shadow:0 0 3px rgba(0,0,0,.5);
	padding:5px
}

#review-form .triangle {
	border:1px solid #d9d9d9;
	border-width:2px 0 0 2px;
	width:10px;
	height:10px;
/* for firefox, safari, chrome, etc. */
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	z-index:1;
	position:relative;
	bottom:-6px;
	margin-left:25px;
	background:#fff
}

#review-form .form-autocomplete {
	padding:3px
}

#review-form textarea {
  width: 290px;
}

#review-form input.full {
  width:270px;
}

#review-form legend {
  font-weight: bold;
}

.reviews-block {
	position:absolute;
	z-index:305;
	text-align:left;
	width:240px;
	display:none;
	font-size:12px;
	padding:3px;
	font-family:Arial;
	overflow-x:hidden;
	overflow-y:auto
}

.reviews-block a.collapsed {
	background-color:#e1e1e1;
	border-radius:3px;
	padding:3px;
	text-align:center;
	display:block
}

.review-item.hidden,
.review-item.review-hidden,
.review-block-hidden {
	display:none
}

.reviews-block .review-block.screen {
  /* position:absolute; */
	width:235px;
	border:1px solid #000;
	border-radius:3px;
	background-color:rgba(234,234,234,1);
	padding:3px;
	margin-bottom:3px;
}

.reviews-block .review-item {
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px solid black;
}

.reviews-block .review-item.first {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

.reviews-block .review-block.close .text {
	display:none;
	margin:0;
	padding:0
}

.review-item .info {
 cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1;
  /* margin-right: 48px; */
}

.review-item .info span.a {
  /* padding-left: 18px; */
  display: block;
  margin-left: 20px;
}

.review-item .info span.ui-icon-triangle-1-e,
.review-item .info span.ui-icon-triangle-1-s {
  position: absolute;
  right: 0;
  top: 5px;
  margin-top: -5px;
}

.review-item .info a.user.quicklook.quicklook-processed {
	position: absolute;
	top: -2px;
}

.review-item .source-link,
.review-item .source-file {
  text-decoration:underline;
}

/*
.review-item .links {
  float: right;
  z-index: 1;
  display: none;
}
*/
.review-item .links .link {
  border: 1px solid lightGrey;
  background-color: #E6E6E6;
  font-weight: normal;
  color: #555;
  margin-right: 5px;
}


.review-item .links .ui-icon {
  float: left;
}

#review-form-options .triangle {
	border:1px solid #d9d9d9;
	border-width:2px 0 0 2px;
	width:10px;
	height:10px;
/* for firefox, safari, chrome, etc. */
	-webkit-transform:rotate(320deg);
	-moz-transform:rotate(320deg);
	-o-transform:rotate(320deg);
	z-index:1;
	position:absolute;
	top:20px;
	left:-7px;
	background:#fff
}

#pdfviewer .word.selected {
	background-color:#FF8;
	opacity:.6
}

#pdfviewer .count {
	color:#fff;
	font-size:9px;
	font-weight:700;
	border-radius:2px;
	background-color:#F03D25;
	border:solid 1px #D83722;
	border-bottom:solid 1px #C0311E;
	border-top:solid 1px #E23923;
	z-index: 305;
/* box-shadow: 0 1px 0 rgba(0, 39, 121, .77); */
	padding:0 1px
}

#review-fullview {
	position:absolute;
	text-align:left;
	display:none;
	padding:5px;
	z-index:350
}

#review-fullview .triangle {
	border:1px solid #d9d9d9;
	border-width:2px 0 0 2px;
	width:10px;
	height:10px;
/* for firefox, safari, chrome, etc. */
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	z-index:1;
	position:relative;
	bottom:-40px;
	margin-left:-2px;
	background:#fff
}

#review-fullview .close {
	width:11px;
	height:11px;
	z-index:1;
	position:absolute;
	right:20px;
	top:25px
}

#review-fullview .grid {
  font-size: 11px;
}

#review-fullview .grid {
	right:35px;
	top:25px;
	position:absolute;
	z-index:1
}

#review-fullview .box {
	background:#fff;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
	-webkit-box-shadow:0 0 3px rgba(0,0,0,.5);
	-moz-box-shadow:0 0 3px rgba(0,0,0,.5);
	box-shadow:0 0 3px rgba(0,0,0,.5);
	padding:5px;
	width:640px;
	overflow-x:hidden;
	overflow-y:auto;
	margin:5px
}

#review-fullview .comments {
	font-size:12px;
	padding:3px;
	font-family:Arial
}

#review-fullview .comments .first {
	background-color:#FF8;
	opacity:.6
}

#review-fullview .ui-icon {
  display: none;
}

.review-tool .clicked.cancel {
  color: lightgray;
}
.review-tool .clicked.cancel:hover {
  text-decoration: none;
}

#review-form-options .menu a.disabled:hover,
#review-form-options .menu a.disabled {
  color: lightgray;
  background-color: gray;
}

/**
 * Manage chapters
 */
 
#pdfreview-manage-document table.chapters input.from,
#pdfreview-manage-document table.chapters input.to {
  width:20px;
}

#pdfreview-manage-document table.chapters th.title,
#pdfreview-manage-document table.chapters input.title {
  width:100%;
}

/* !Print */
/* Must be always at the end of this file. */
#pdfviewer.print,
#pdfviewer.print img,
#pdfviewer.print .item img {
  border: none;
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin:0;
  padding: 0;
}

#pdfviewer.print .item {
  margin-bottom:45px;
}

#pdfviewer.print .reviews-block {
  display: block;
  height: 1500px;
  overflow: hidden;
  top:0;
}

#edit-source-link-wrapper, #edit-source-file-wrapper {
  display: none;
}